.boom{
    display: none;
}


.header{
    
    padding: 20px 15px 0px 15px;
    background-color: #000000;
    
}

// .zaglavlje{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background-color: #000000;
    
// }

// .zaglavlje h1{
//     background-color: #000000;
//     font-weight: 500;
//     font-size: 20px;
//     line-height: 32px;
//     letter-spacing: 0.5px;
//     font-feature-settings: 'pnum' on, 'lnum' on;
// }
