
.navbar{
    justify-content: space-between;
}


a {
    padding-right: 1rem;
    color: wheat;
    text-decoration: none;
}

#clr{
    color: wheat;
}


body{

    color: yellow;
    background-color: yellow;
}